@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .float-animation {
    animation: float 5s ease-in-out infinite;
  }
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(293, 44%, 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(260px);
}

.gradient-02 {
  background-image: linear-gradient(
    270deg,
    hsl(314, 44%, 51%) 0%,
    hsl(314deg 70% 73%) 26%,
    hsl(314deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(260px);
}
